@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}


/* Form Inputs */
input,
select,
textarea {
  outline: none;
  transition: all 0.2s;
  border: 1px solid #d1d5db; /* Tailwind gray-300 */
  border-radius: 0.375rem;    /* Tailwind rounded-md */
  padding: 0.5rem 0.75rem;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #10b981; /* Tailwind emerald-500 */
  box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.2);
}

/* Buttons */
button {
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  opacity: 0.9;
}
